.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.selectedValue {
  font-weight: bold;
}



.pregunta{
  padding-top: 5px;
  padding-bottom: 5px;
}
.mal{
  background-color: #FC3535  
}
.bien{
  background-color: #D4FBBA
}
.nada{
  background-color: white
}